<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.spring.mvc"/>
        <listEntry value="artifactId=SpringMVC"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.spring.mvc"/>
        <listEntry value="outputDirectory=/Users/wanderwise/Desktop/Java/Spring_Tutorials"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/7j/tqxfbbcs7r9d58_8zzrbflq80000gn/T/m2e-archetypeGenerator3674254067508167597"/>
</launchConfiguration>
